{% extends "layout.html" %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="row mt-3">
            <div class="col md-6">
                <form action="{{ url_for('.login') }}" method="POST"
                      id="login_form">
                    <div class="form-group">
                        <label for="name">Username:</label><input
                            type="username" id="username"
                            name="username" required><br/>
                        <label for="password">Password:</label><input
                            type='password' id="password"
                            name="password" required>
                        <br></br>
                        <button type="submit" class="btn">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}